name: Release Mod

on:
  push:
    branches:
      - 1.20.1

jobs:
  build-and-release:
    if: "startsWith(github.event.head_commit.message, 'v1') || startsWith(github.event.head_commit.message, 'v2') || startsWith(github.event.head_commit.message, 'v3')"

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run Spotless Check
        run: ./gradlew spotlessCheck

      - name: Run Tests
        run: ./gradlew runGameTestServer

      - name: Build with Gradle
        run: ./gradlew build

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/libs/*.jar

          tag_name: ${{ github.event.head_commit.message }}

          name: ${{ github.event.head_commit.message }}

          body: |
            Automated release based on commit message.

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}